<div class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <mdb-card-header></mdb-card-header>
        <mdb-card-body class="p-3">
          <mdb-card-title>
            <h5 class="mb-3">In Progress</h5>
          </mdb-card-title>
          <mdb-card-text>Click here to navigate to your in progress learning modules.</mdb-card-text>
          <a routerLink="/projects" mdbBtn color="orange">Go to section</a>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-md-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <mdb-card-header></mdb-card-header>
        <mdb-card-body class="p-3">
          <mdb-card-title>
            <h5 class="mb-3">Future</h5>
          </mdb-card-title>
          <mdb-card-text>Click here to navigate to your future learning modules.</mdb-card-text>
          <a routerLink="/future" mdbBtn color="orange">Go to section</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <mdb-card-header></mdb-card-header>
        <mdb-card-body class="p-3">
          <mdb-card-title>
            <h5 class="mb-3">Analytics</h5>
          </mdb-card-title>
          <mdb-card-text>Click here to see your learning analytics.  This is pulled from your personal future, in progress, and completed learning modules.</mdb-card-text>
          <a routerLink="/charts" mdbBtn color="orange">Go to section</a>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-md-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <mdb-card-header></mdb-card-header>
        <mdb-card-body class="p-3">
          <mdb-card-title>
            <h5 class="mb-3">Profile</h5>
          </mdb-card-title>
          <mdb-card-text>Click here to view your profile.  
          You can also change your profile picture here.  In addition, click here to change your display name as well.</mdb-card-text>
          <a routerLink="/profile" mdbBtn color="orange">Go to section</a>
        </mdb-card-body>
      </mdb-card>
    </div>

  </div>
</div>